:root {
    font-size: 16px;
}

/*fixed header*/

.willard-design-main-header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.willard-design-main-header-content  {
    max-width: var(--wp--style--global--content-size);
    margin: 0 auto;
}

/* back to top button */
.willard-design-top-of-page {
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 1%;
    transition: background-color 0.3s;
    border: none;
    z-index: 999;
    fill: var(--wp--preset--color--primary-3);
}

/* handles the wordpress navigation block */
.wp-block-navigation .wp-block-navigation__submenu-container li > a {
    background-color: var(--wp--preset--color--secondary-1) !important;
    color: var(--wp--preset--color--primary-3) !important;
}

.wp-block-navigation .wp-block-navigation__submenu-container li:hover > a {
    background-color: var(--wp--preset--color--secondary-2) !important;
    color: var(--wp--preset--color--primary-3) !important;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: inherit !important;
}